<% provide(:title, "Edit")%>

<h1>Update your profile</h1>

<div class='content'>
<div>
    <%= form_for(@user) do |f| %>

      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-controle' %><br>
    
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-controle' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-controle' %><br>

      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-controle' %><br>

      <%= f.submit "Save changes", class: "submit" %><br>

    <% end%>
<br>
    <%= link_to "Delete account", @user, method: :delete,
     data: {confirm: "Are you sure?"}%>
</div>
</div>